/* font family */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');

/* reset all the page in the projet */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	line-height: 1.5;
	scroll-behavior: smooth;
}
h1,
h2,
h3 {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 1rem;
}
svg {
	width: 1.5rem;
}
img {
	width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
	text-wrap: nowrap;
}

.icon {
	display: grid;
	place-items: center;
	cursor: pointer;
}

button {
	border: none;
	outline: none;
}
ul,
li {
	list-style-type: none;
}


/* root of the projet colors fonts and more */

:root {
	--black--color: hsla(0, 0%, 0%, 0.612);
	--white--color--gray: hsla(0, 25%, 95%, 0.98);
	--white--color: #ffffff;
	--primary--color: hsl(260, 86%, 59%);
	--secondery--color: hsl(215, 28%, 17%);
	--grey--light--color: hsl(0, 0%, 26%);
	--green--light--color: hsl(142, 100%, 41%);
	--font--primary: 'Nunito Sans', sans-serif;
}

body {
	background-color: var(--white--color);
	height: 100%;
	width: 100%;
}

p,
h1,
h2,
h3 {
	color: var(--secondery--color);
}

p {
	font-family: var(--font--primary);
}

/* loader */

.loader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	z-index: 11;

	display: flex;
	align-items: center;
	justify-content: center;

	animation: disappear 1s linear;
}

  
  @keyframes disappear {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
}
.loader .spiner{
	height: 5rem;
	width: 5rem;
	background-color:#111827;
	padding: 2rem;

	border-radius: 50%;

	border: 4px solid var(--white--color);
	border-top: 4px solid transparent;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;

	animation: rotateInfinty 1s  linear infinite;
}

@keyframes rotateInfinty {
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}

.loader.active{
	display: none;
}

/* header custom */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	background-color: var(--white--color);

	box-shadow: 5px 0 2px var(--black--color);

	padding: 1rem 1.5rem;
	z-index: 10;
}

.header .header__logo a {
	display: grid;
	place-items: center;
}

.header .header__logo a img {
	width: 10rem;
	height: 2.5rem;
	object-fit: cover;
}

.header .header__nav {
	flex: 2;
	display: grid;
	place-items: center;

	height: 100%;
}

.header__nav .nav__lists {
	display: flex;
	align-items: end;
	justify-content: space-between;

	width: 100%;
	height: 100%;
}

.nav__lists .nav__lists__item {
	display: inline-block;

	padding: 0 0.5rem;
}

.nav__lists__item a {
	display: block;
	color: var(--secondery--color);
	font-size: 1.2rem;
	transition: color 0.3s ease-in-out;
	text-wrap: nowrap;
}

.nav__lists__item a:hover {
	color: var(--primary--color);
}

.header .header__end {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.header__end .header__form .form__search {
	width: 200px;

	position: relative;
	overflow: hidden;

	border: 2px solid var(--primary--color);
	border-radius: 4rem;
}

.form__search input {
	width: 90%;

	padding: 0.4rem 1.3rem;

	outline: none;
	border: none;

	background: transparent;
}

.form__search .icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.form__search .icon svg {
	width: 1.3rem;
}

.header__end .header__end__language {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;

	position: relative;

	padding: 0.2rem 0.5rem;

	background-color: transparent;

	border: 1px solid var(--secondery--color);
	border-radius: 2rem;
}

.header__end__language .btn__language {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.1rem;

	background-color: transparent;
}

.btn__language .language__choise {
	display: flex;
	align-items: center;
	justify-content: center;
}

.language__choise img:nth-child(2) {
	display: none;
}
.language__choise img {
	width: 1.4rem;
}

.btn__language .icon {
	transition: all 0.3s ease-in-out;
	transform: rotate(0deg);
}
.btn__language .icon.active {
	transform: rotate(180deg);
}
.btn__language .icon svg {
	width: 1.3rem;
	stroke-width: 2.6;
	color: var(--primary--color);
}
.header__end__language .language__toltips {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: var(--white--color);
	position: absolute;
	top: 140%;
	right: 0;
	transform: translateY(18px);

	width: 12rem;
	padding: 0.5rem;
	opacity: 0;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

	animation: swippDown 0.3s linear forwards;

	border-radius: 1rem;
}

.header__end__language .language__toltips button {
	background: transparent;
	width: 100%;

	display: grid;
	place-content: start;

	padding-block: 0.4rem;
	padding-inline-start: 0.4rem;

	border-radius: 0.5rem;

	transition: background-color 0.1s ease-in-out;
}
.header__end__language .language__toltips button:hover {
	background-color: rgba(0, 0, 0, 0.06);
}

@keyframes swippDown {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(15px);
		opacity: 0;
	}
}

.header__end__language .language__toltips.active {
	transform: translateY(0);
	animation: swippTop 0.3s forwards;
}

@keyframes swippTop {
	from {
		transform: translateY(15px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
.language__toltips button {
	background-color: var(--white--color--gray);
}

.header__end .connection {
	color: var(--white--color);
	white-space: none;
	text-wrap: nowrap;

	padding: 0.4rem 0.8rem;
	background: var(--primary--color);
	border-radius: 3.5rem;
	transition: padding 0.2s ease-in-out;
}

.header__end .connection:hover {
	padding: 0.5rem 1rem;
}

.header .header__end a .icon {
	display: none;
	color: var(--primary--color);
}

.header__end .header__end__card {
	padding: 0.5rem 0.8rem;

	width: 3rem;
	height: 2rem;

	border: 3px solid var(--primary--color);
	border-radius: 20px;

	background: transparent;

	display: grid;
	place-content: center;
	transition: padding 0.1s ease-in-out;
}

.header__end__card .icon svg {
	color: var(--primary--color);
	stroke-width: 2;
}

.header__end__card:hover {
	padding: 0.5rem 1rem;
}

/* hamberguer */
.header .btn {
	width: 3rem;
	cursor: pointer;
	border: 1px solid var(--secondery--color);
	display: none;
}

.header .btn .bar {
	display: block;
	width: 100%;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	height: 2px;
	background: #000;
	transition: all 0.3s;
	position: relative;
}

.header .btn span + span {
	margin-top: 4.5px;
}


/* media queries header and nav */

@media (max-width: 767px) {
	.header .btn {
		display: block;
	}
	.header {
		padding: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.header .header__logo {
		width: 6em;
		height: 3rem;
		display: grid;
		place-content: center;
		flex: 1;
	}
	.header .header__logo a {
		height: 100%;
		width: 100%;
	}
	.header .header__logo a img {
		width: 100%;
		height: 100%;

		object-fit: cover;
		object-position: center;
	}

	.header .header__nav {
		position: absolute;
		left: 0;
		top: 100%;
		place-content: start;
		background-color: var(--white--color);
		padding-block: 1rem;
		height: 18rem;
		width: 100%;
		transform: translateY(40px);
		opacity: 0;
		transition: transform 300ms linear;
		display: none;
	}

	.header .header__nav.active {
		transform: translateY(0);
		opacity: 1;
		display: block;
		transition: transform 300ms linear;
	}
	.header .header__nav .nav__lists {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
	}
	.nav__lists .nav__lists__item a {
		font-size: 1.4rem;
		padding: 0.5rem;
	}

	.header__end .header__form .form__search {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 10px;
		z-index: -1;
		width: 90%;
		background-color: var(--white--color);
	}

	.header .header__end {
		gap: 1.1rem;
	}
	.header__end .header__end__language {
		padding: 0.3rem 0.5rem;
		justify-content: flex-start;
		flex: 0;
	}
	.header__end__language .language__toltips {
		right: -100%;
		border-radius: 0.5rem;
	}
	.header .header__end .connection {
		display: none;
	}
	.header .header__end a .icon {
		display: block;
	}
}

/*header media queries teablette */

@media (min-width: 767px) and (max-width:1199px) {
	.header .btn {
		display: block;
	}
	.header {
		padding: 1rem 0.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header .header__logo {
		width: 8em;
		height: 4rem;
		flex: 0.9;
		display: grid;
		place-content: center;
	}
	.header .header__logo a {
		height: 100%;
		width: 100%;
	}
	.header .header__logo a img {
		width: 100%;
		height: 100%;

		object-fit: cover;
		object-position: center;
	}

	.header .header__nav {
		position: absolute;
		left: 0;
		top: 100%;
		place-content: start;
		background-color: var(--white--color);
		padding-block: 1rem;
		width: 100%;
		transform: translateY(40px);
		opacity: 0;
		transition: transform 300ms linear;
		z-index: -6;
	}

	.header .header__nav.active {
		transform: translateY(0);
		opacity: 1;
		transition: transform 300ms linear;
		z-index: 88;
	}
	.header .header__nav .nav__lists {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
	}
	.nav__lists .nav__lists__item a {
		font-size: 1.8rem;
		padding: 1rem 0.5rem;
		color: var(--black--color);
	}

	.header__end .header__form .form__search {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 10px;
		z-index: -1;
		width: 70%;
		background-color: var(--white--color);
	}
	.form__search .input__search::placeholder {
		font-size: 1rem;
		font-weight: 700;
	}

	.header .header__end {
		gap: 1.5rem;
		flex: 2;
		padding-inline-end: 1rem;
		justify-content: flex-end;
	}
	.header__end .header__end__language {
		padding: 0.5rem 1.5rem;
		justify-content: flex-start;
		flex: 0;
	}
	.header .header__end .connection {
		display: none;
	}
	.header .header__end a .icon {
		display: block;
	}
	.header__end__language .language__toltips {
		right: -0%;
		border-radius: 0.5rem;
		width: 20rem;
		height: 10rem;

		font-size: 1.6rem;
		font-weight: 600;
	}
}

/* section hero */

.main-container {
	padding: 0 1.5rem;
	overflow-x: hidden;
}
.section__hero {
	height: 100vh;
	display: flex;
	align-items: center;
	gap: 1rem;
}
.section__hero .hero__left {
	width: 50%;
}

.hero__left h1 {
	font-weight: 600;
}

.hero__left p {
	text-align: justify;
	columns: 1;
}

.btn-left-hero {
	background: var(--primary--color);
	border-radius: 2rem;
}

.hero__rihgt {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: radial-gradient(#eee7fb, #eee7fb #eee7fb);
	margin-top: 2rem;
}

.hero__left .hero__rihgt__img {
	padding: 1rem;
	background-color: var(--white--color);
}
.hero__left .hero__rihgt__img img {
	border-radius: 3rem;
}
/* end hero */

/* media query hero & section exposition mobile */

@media (max-width: 767px) {
	.section__hero {
		flex-direction: column;
		height: auto;
		margin-top: 8rem;
		justify-content: center;
	}

	.section__hero .hero__left {
		width: 100%;
	}
	.section__hero .hero__left h1 {
		columns: 1;
		text-align: center;
		line-height: 1.6;
		text-transform: uppercase;
		font-weight: 600;
	}

	.section__hero .hero__left p {
		word-spacing: -1px;
	}
	.hero__left .left__btn {
		background-color: var(--primary--color);
		display: grid;
		place-content: center;
		border-radius: 2rem;
	}
	.section__hero .hero__left .btn-left-hero {
		background: none;
		border: none;
	}

	.section__hero .hero__rihgt {
		display: none;
	}
}

@media (min-width: 767px) and (max-width: 1199px) {
	.section__hero {
		flex-direction: column;
		height: auto;
		margin-top: 8rem;
		justify-content: center;
	}

	.section__hero .hero__left {
		width: 100%;
	}
	.section__hero .hero__left h1 {
		columns: 1;
		text-align: center;
		line-height: 1.6;
		text-transform: uppercase;
		font-weight: 600;
		margin-top: 1.5rem;
	}

	.section__hero .hero__left p {
		word-spacing: -1px;
		font-size: 1.5rem;
	}
	.hero__left .left__btn {
		background-color: var(--primary--color);
		display: grid;
		place-content: center;
		border-radius: 2rem;
		width: 70%;
		margin: 0 auto;
		margin-bottom: 1.5rem;
	}
	.section__hero .hero__left .btn-left-hero {
		background: none;
		border: none;
	}
	.section__hero .hero__rihgt {
		display: none;
	}
}

/* section exposition */
.exposition__title h2 {
	font-weight: 500;
}
.exposition__title a {
	padding: 0.5rem 1rem;
	background-color: var(--primary--color);
	color: var(--white--color);
	border-radius: 3rem;
}
.expostion__sliders {
	margin-top: 2rem;
}
.exposition .container__cards {
	flex-wrap: nowrap;
	overflow: hidden;
	transition: 0.3s linear;
}

figcaption .icon {
	background: var(--white--color);
	padding: 0.4rem;
	border-radius: 50%;
}
figcaption .icon svg {
	color: var(--primary--color);
	stroke-width: 2;
}
.card {
	cursor: pointer;
	transition: all 300ms ease-in-out;
	padding-block-end: 0.6rem;
}

.expostion__sliders .container__cards .card figure .status{
	color: #ff0000;
	background-color: var(--white--color);
	font-weight: 500;
	text-align: justify;
}
.card:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card .card-body p {
	color: hsla(0, 0%, 0%, 0.91);
}
.card .card-body h3 {
	transition: color 0.1s ease-in-out;
}
.card .card-body h3:hover {
	color: var(--primary--color);
}
.card-body .container__dates .date__effectuer,
.card-body .container__dates .localisation .ville {
	color: var(--grey--light--color);
}

.card-body .container__dates .icon svg {
	color: var(--primary--color);
}
.expostion__sliders .prev__btn,
.expostion__sliders .next__btn {
	position: absolute;
	top: 50%;
	width: 3rem;
	height: 3rem;
	background-color: var(--primary--color);
	border-radius: 50%;
	cursor: pointer;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.8;
	transition: 0.1s ease-in-out;
	font-size: 2rem;
	color: var(--white--color);
	z-index: 5;
}
.expostion__sliders .next__btn:hover,
.expostion__sliders .prev__btn:hover {
	opacity: 1;
}
.expostion__sliders .next__btn {
	left: -1.5rem;
}
.expostion__sliders .prev__btn {
	right: -2rem;
}

/* section exposition end */

/* media querie exposition */

@media (max-width: 767px) {
	.exposition {
		margin-top: 2rem;
	}
	.exposition .exposition__title h2 {
		margin-top: 3px;
	}
}

/* section boutique */
.boutique .boutique__header h2 {
	font-weight: 500;
}

.boutique .boutique__header a {
	padding: 0.5rem 1rem;
	background-color: var(--primary--color);
	color: var(--white--color);
	border-radius: 3rem;
}

.boutique_container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	column-gap: 0.5rem;
	row-gap: 1.5rem;
}
.boutique_container .product {
	flex-grow: 1;
	width: 280px;

	background-color: var(--white--color);
	overflow: hidden;

	border-radius: 0.5rem;
	transition: background-color 300ms ease-in-out;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

	padding-block: 0.7rem;
}
.boutique_container .product:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.product .wrapper__product {
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.product .wrapper__product .img_container {
	min-width: 100%;
	height: 100%;
}

.product .wrapper__product .img_container img {
	height: 100%;
}
.wrapper__product figcaption {
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
}

.product .article__body {
	display: flex;
	flex-direction: column;
	padding-inline: 0.5rem;
}

.article__body p {
	color: rgba(0, 0, 0, 0.6);
	font-size: 1.1rem;
}
.article__body h3 {
	font-size: 1.3rem;
	margin-top: -1rem;
	font-weight: 600;
}

.article__body .prix {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: -1.5rem;
}
.article__body .prix .icon {
	width: 2rem;
	height: 2rem;
	background-color: var(--primary--color);
	border-radius: 0.5rem;
	padding: 0.2rem;
}

.article__body .prix .icon svg {
	color: var(--white--color);
	stroke-width: 2;
}
/* section boutique end */

/* section banier */

.banier {
	display: grid;
	place-content: center;
	gap: 0.4rem;
	width: 100%;
	min-height: 45vh;
	text-align: center;
	background: url(../Images/artist_banner.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.banier h2,
p,
a {
	z-index: 1;
}
.banier h2 {
	color: var(--white--color);
	font-size: 2rem;
}
.banier p {
	font-size: 1.2rem;
	color: var(--white--color);
}
.banier a {
	background: var(--primary--color);
	color: var(--white--color);
	padding: 0.8rem 1.8rem;
	margin: 0 auto;
	text-wrap: nowrap;
	text-align: center;
	border-radius: 1.5rem;
}
.banier::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
/* section banier end */

/* section profiles */
.profiles .profile__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile__header h2 {
	font-weight: 500;
}

.profile__header a {
	padding: 0.5rem 1.4rem;
	text-wrap: nowrap;

	background-color: var(--primary--color);
	color: var(--white--color);

	border-radius: 3rem;
}

.profiles .profiles__cards {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5rem;

	margin-top: 1.5rem;
}

.profiles__cards .profiles__cards__item {
	flex-grow: 1;
	flex-shrink: 1;
	width: 16.75rem;
	padding: 0.2rem;

	overflow: hidden;

	background-color: #e5e7eb;

	border-radius: 0.6rem;
}

.profiles__cards__item figure {
	width: 100%;
	height: 250px;

	background-position: center;
	background-size: cover;

	position: relative;
}

.profiles__cards .profiles__cards__item:nth-child(1) figure {
	background-image: url(../Images/art.jpg);
}
.profiles__cards__item:nth-child(2) figure {
	background-image: url(../Images/dessin_3.png);
}
.profiles__cards__item:nth-child(3) figure {
	background-image: url(../Images/img_5.png);
}
.profiles__cards__item:nth-child(4) figure {
	background-image: url(../images/profile--4.jpg);
}

.profiles__cards figure figcaption {
	position: absolute;

	width: 6rem;
	height: 6rem;
	border-radius: 50%;

	background-color: var(--white--color);
	bottom: -3rem;
	left: 50%;
	transform: translateX(-50%);

	padding: 0.2rem;

	overflow: hidden;

	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.profiles__cards figure figcaption img {
	width: 100%;
	height: 100%;

	border-radius: 50%;

	object-fit: cover;
}

.profiles__cards__item .cards__item__footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	padding: 2.5rem 0 0.5rem 0;
}

.cards__item__footer .footer__user {
	font-size: 1.3rem;
	font-weight: 600;
	cursor: pointer;
	transition: 300ms linear;
}

.cards__item__footer .footer__user:hover {
	color: var(--primary--color);
}
.cards__item__footer .footer__country {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.cards__item__footer .footer__country span {
	font-size: 0.8rem;

	font-weight: 400;
}

.cards__item__footer .footer__country img {
	width: 1rem;
}
/* section profile end */

/* musee */

.musee {
	margin-top: 2rem;
}
.musee .titles {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.musee .titles h2 {
	font-weight: 600;
}

.musee .titles a {
	background-color: var(--primary--color);
	color: var(--white--color);
	padding: 0.4rem 1.5rem;
	border-radius: 2rem;
}

.musee .musee__container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
	grid-template-rows: auto;
	column-gap: 0.5rem;
	row-gap: 1rem;
	margin-top: 1rem;

	padding-block-end: 1rem;
}

.musee__container .container__item {
	background-color: var(--white--color);
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	border-radius: 0.6rem;

	overflow: hidden;

	transition: box-shadow 300ms ease-in-out;
}

.musee__container .container__item:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.musee__container .container__item figure {
	height: 250px;
	background-color: #e5e7eb;

	position: relative;

	background-position: center;
	background-size: cover;
}

.musee__container .container__item:nth-child(1) figure {
	background-image: url(../Images/maison.jpg);
}

.musee__container .container__item figure figcaption {
	width: 7rem;
	height: 7rem;
	padding: 0.4rem;

	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: var(--white--color);

	clip-path: circle(50%);

	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.musee__container .container__item figure figcaption img {
	height: 100%;
	object-fit: cover;
	object-position: center;

	clip-path: circle(50%);
}

.musee__container .container__item .container__item__body {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 3rem;
	padding: 0 0 0.8rem 0;
}

.container__item .container__item__body span:nth-child(1) {
	font-size: 1.2rem;
	font-weight: 500;
	cursor: pointer;
}

.container__item .container__item__body span:nth-child(1):hover {
	color: var(--primary--color);
}

.footer {
	margin-top: 2rem;
	background-color: #f3f4f6;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
	grid-template-rows: auto;

	gap: 1rem;

	padding: .5rem 0 1rem 1rem;

	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

.footer .footer__child__left .footer__left__logo{
	width: 60%;
}

.footer__child__left .footer__left__text{
	margin-top: .5rem;
	margin-left: .8rem;
	font-weight: 600;
	text-align: justify;
	word-spacing: -1.5px;
	padding-right: .8rem;
}

.footer__child__left .footer__left__app{
	display: grid;
	grid-template-columns: repeat(2,9.375rem);
	grid-template-rows: auto;
	margin-left: .8rem;
	gap: .2rem;
}

.footer .footer__child__middle .middle__services{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 1rem;
	margin-left: .8rem;
}

.footer__child__middle .middle__services .infoService h3{
	font-size: 1.4rem;
	font-weight: 500;
	margin-top: 1rem;
	color: var(--secondery--color);
}

.middle__services .infoService .info__items{
	margin-bottom: 0.3rem;
}

.infoService .info__items li a{
	color: var(--secondery--color);
	transition: color 300ms ease-in-out;
}

.infoService .info__items li a:hover{
	color: var(--primary--color);
}

.footer__child__middle .middle__payement{
	display: grid;
	grid-template-columns: repeat(3,100px);
	grid-template-rows:auto;
	gap: .7rem;
	margin-left: .8rem;
}

.footer__child__middle .middle__payement figure{
	display: grid;
	place-items: center;
}

.footer .footer__child__right h3{
	font-size: 1.4rem;
	font-weight: 500;
	margin-top: 1rem;
	color: var(--secondery--color);
	margin-left: .8rem;
}

.footer__child__right .form__newslletter{
	height: 2.4rem;
	margin-left: .8rem;
}

.footer__child__right .form__newslletter form{
	width: 100%;
	height: 100%;
	position: relative
}

.form__newslletter form input{
	width: 100%;
	height: 100%;
	padding: 0 5rem 0 .5rem;
	border-radius: 3rem;
	border: none;
	border: 1.5px solid var(--primary--color);
	transition: outline 100ms linear;
	position: relative;
}

.form__newslletter form input:is(:focus){
	outline: 1.5px solid var(--primary--color);
	caret-color: var(--primary--color);
	font-weight: 500;

}

.form__newslletter form input:is(:focus)::placeholder{
	position: absolute;
	left: 10px;
	transform: translateY(-5px);
	font-size: 10px;
	transition: all 300ms linear;
}

.form__newslletter form button[type="submit"]{
	position: absolute;
	right: .1rem;
	top: 50%;
	transform: translateY(-50%);
	height: 95%;

	padding: 0 1rem;

	border-radius: 3rem;

	color:#fff;
	font-weight: 500;

	
	background-color: #006400;
	filter: contrast(120%);
}

.footer__child__right .right__socials h3{
	font-size: 1.2rem;
	margin-left: .8rem;
}

.footer__child__right .right__socials .socials{
	display: grid;
	grid-template-columns: repeat(5,30px);
	grid-template-rows: auto;
	gap: 1.5rem;
	margin-left: .8rem;
}

.right__socials .socials figure{
	display: grid;
	place-items: center;
	margin-top: .5rem;
}

.right__socials .socials figure a{
	width:40px;
}

.copyright{
	padding:1rem 1.5rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	background-color: #e5e7eb;
}
.copyright .copy{
	font-size: 1rem;
	font-weight: 500;
	margin-right: 1rem;
}

.copyright .copy a{
	color: hsla(260, 94%, 49%, 0.553);
	font-weight: 700;
}
.copyright .conditions{
	text-align: center;
	display: flex;
	align-items: center;
	flex-wrap: wrap;

}
.copyright .conditions a{
	color: var(--black--color);
	font-weight: 500;
	padding-inline-end: 1rem;
}

.copyright .conditions a:hover{
	color: var(--primary--color);
}

